:root{
	--primary: #0a6dae;
	--secondary: #212529;
	--primary-hover: #09a0d5;
	--primary-dark: #3e267c;
	--rgba-primary-1: rgba(10, 109, 174,0.1);
	--rgba-primary-2: rgba(10, 109, 174,0.2);
	--rgba-primary-3: rgba(10, 109, 174,0.3);
	--rgba-primary-4: rgba(10, 109, 174,0.4);
	--rgba-primary-5: rgba(10, 109, 174,0.5);
	--rgba-primary-6: rgba(10, 109, 174,0.6);
	--rgba-primary-7: rgba(10, 109, 174,0.7);
	--rgba-primary-8: rgba(10, 109, 174,0.8);
	--rgba-primary-9: rgba(10, 109, 174,0.9);
	--title: #212529;
}
/* :root{
	--primary: #ff1d4d;
	--secondary: #212529;
	--primary-hover: #e90031;
	--primary-dark: #83001c;
	--rgba-primary-1: rgba(255,29,77,0.1);
	--rgba-primary-2: rgba(255,29,77,0.2);
	--rgba-primary-3: rgba(255,29,77,0.3);
	--rgba-primary-4: rgba(255,29,77,0.4);
	--rgba-primary-5: rgba(255,29,77,0.5);
	--rgba-primary-6: rgba(255,29,77,0.6);
	--rgba-primary-7: rgba(255,29,77,0.7);
	--rgba-primary-8: rgba(255,29,77,0.8);
	--rgba-primary-9: rgba(255,29,77,0.9);
	--title: #212529;
} */