[dir='rtl'] {

	// Header Logo //default
	.logo-header {
		float: right;
		margin-left: 0;
		margin-right: 0;
	}

	// Top Bar
	.top-bar {

		.dz-topbar-left {
			float: right;

			li {
				padding-right: 0;
				padding-left: 20px;
			}
		}

		.dz-topbar-right {
			float: left;

			li {
				padding-left: 0;
				padding-right: 15px;
			}
		}

		.dz-topbar-inner {
			margin-left: -15px;
			margin-right: -15px;
		}

		.dz-topbar-center,
		.dz-topbar-left,
		.dz-topbar-right {
			padding-left: 15px;
			padding-right: 15px;

			ul {
				i {
					margin-right: 0;
					margin-left: 5px;
				}
			}

			.dz-social-icon {
				li {
					padding-left: auto;
					padding-right: 0;
				}
			}
		}
	}

	// Quik Search
	.dz-quik-search {
		left: auto;
		right: 0;

		.form-control {
			padding: 15px 15px 15px 60px;
		}

		span {
			right: auto;
			left: 15px;
		}
	}

	// Site Header
	.site-header {
		.extra-nav {
			float: left;

			@include respond('wide-desktop') {
				margin-left: 0;
				margin-right: 10px;
			}

			#quik-search-btn {
				margin-left: 0px;
			}

			.btn {
				@include respond('phone') {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
	}

	// Navbar Toggler
	.navbar-toggler {
		margin: 40px 15px 39px 0;
		float: left;

		@include respond('tab-port') {
			margin: 15px 15px 15px 0;
		}

		@include respond('phone') {
			margin: 15px ​15px 15px 0;
		}
	}

	// Navicon
	.navicon {
		span {
			left: auto;
			right: 10px;

		}


		&.open span:nth-child(2) {
			left: auto;
			right: -60px;
		}
	}

	// Header Nav
	.header-nav {
		@include respond('tab-port') {
			left: auto;
			right: -280px;
		}

		&.show {
			@include respond('tab-port') {
				left: auto;
				right: -1px;
			}
		}

		.nav {
			float: left;

			@include respond('laptop'){
				&>li:nth-last-child(3),
				&>li:nth-last-child(2),
				&>li:last-child{
					.sub-menu .sub-menu{
						left: auto;
						right: -220px;
					}
				}
			}
			@include respond('tab-port') {
				float: unset;
			}

			&>li {
				&.sub-menu-down {
					&>a {
						&:after {
							margin-right: auto;
							margin-left: 5px;

							@include respond('tab-port') {
								content: "\f053";
								right: auto;
								left: 0;
								float: left;
								margin: 0;
							}
						}

						@include respond('tab-port') {
							padding: 8px 0;
						}
					}

					@include respond('tab-port') {
						&.open {
							&>a {
								&:after {
									content: "\f078";
									background: #333;
								}
							}
						}
					}
				}

				&>a {
					border-width: 0 1px 0 0;

					@include respond('wide-desktop') {
						padding-left: 10px;
						padding-right: 10px;
					}

					@include respond('tab-land') {
						padding-left: 8px;
						padding-right: 8px;
					}
				}

				.mega-menu,
				.sub-menu {
					left: auto;
					right: 0;
					text-align: right;
					@include transitionSlow;

					@include respond('tab-port') {
						&>li>a i {
							right: auto;
							left: 0;
							float: left;
						}
					}

					li {
						a {

							&:after {
								left: auto;
								right: 20px;

								@include respond("tab-port") {
									right: 0;
									transform: rotate(180deg);
									width: auto !important;
								}
							}

							@include respond("tab-port") {
								padding: 2px 16px 0px 0px !important;
							}
						}

					}

					li>.sub-menu {
						left: auto;
						right: 220px;

						li:hover>a {
							padding: 8px 37px 8px 20px;

							@include respond("tab-port") {
								padding: 2px 16px 0px 0px !important;
							}
						}
					}

					@include respond('tab-port') {

						.mega-menu,
						.sub-menu {
							padding-left: auto;
							padding-right: 20px;
						}
					}
				}

				.sub-menu {
					li>a>i {
						float: left;

						&::before {
							content: "\f104";
						}
					}

					li {
						&:hover>a {
							padding: 8px 37px 8px 20px;

							@include respond('tab-port') {
								padding: 2px 16px 0px 0px !important;
								background: transparent;
							}

							&:after {
								width: 10px;

								@include respond("tab-port") {
									width: 5px;
									right: 0;
									// content: "\f053";
								}
							}
						}
					}
				}

				.mega-menu {
					left: 0px;

					&>li {
						&>a {
							&>i {
								margin-right: 0;
								margin-left: 5px;
								float: left;
							}
						}

						&:after {
							left: 0px;
						}

						li i {
							margin-right: auto;
							margin-left: 5px;
						}

						ul>li:hover>a {
							padding: 8px 37px 8px 20px;
						}
					}


				}

				&.open {

					.mega-menu,
					&>.sub-menu {
						display: block;
						opacity: 1;
						@include transitionNone;

					}

					.open {
						&.menu-item-has-children>a:before {
							transform: rotate(90deg);
							-moz-transform: rotate(90deg);
							-webkit-transform: rotate(90deg);
							-ms-transform: rotate(90deg);
							-o-transform: rotate(90deg);
						}

						.mega-menu,
						&>.sub-menu {
							display: block;
							opacity: 1;
							@include transitionNone;
						}
					}
				}

				@include respond('laptop') {

					&>li:nth-last-child(3),
					&>li:nth-last-child(2),
					&>li:last-child {
						.sub-menu .sub-menu {
							left: auto;
							right: -220px;
						}
					}
				}

				@include custommq($max: 1199px) {
					&>li:last-child {
						.sub-menu {
							right: auto;
							left: 0;
						}
					}
				}
			}
		}
	}

	// Header Transparent{
	.header-transparent {
		left: auto;
		right: 0;

		.container-fluid {
			padding-left: 80px;
			padding-right: 80px;

			@include respond('tab-land') {
				padding-left: 15px;
				padding-right: 15px;
			}
		}


	}

	// Is Fixed
	.is-fixed {
		.main-bar {
			left: auto;
			right: 0;
		}
	}

	// Mobile Nav
	@include respond('tab-port') {
		.mo-left {
			.header-nav {
				left: auto;
				right: -280px;

				&.show {
					left: auto;
					right: -1px;
				}
			}

			.navbar-toggler {
				&.open {
					&:after {
						left: -20px;
						right: 0;
						margin: 0 20px 0px 0px;
					}
				}
			}
		}
	}

	// site-header //header-1
	.site-header {
		&.style-1 {
			.extra-cell {

				&>a,
				&>div {
					margin-left: 0;
					margin-right: 30px;

					@include respond('wide-desktop') {
						margin-left: 0;
						margin-right: 15px;
					}
				}

				.login-btn {
					i {
						margin-right: 0;
						margin-left: 10px;
					}
				}
			}
		}

		&.center {
			.logo-header {
				@include respond('tab-port') {
					right: auto;
					left: 0;
					text-align: right;
				}
			}

			.header-nav .nav {
				float: right;

				&.navbar-left {
					text-align: left;
					margin-right: 0;
					margin-left: 100px;

					@include respond('tab-port') {
						text-align: right;
						margin-left: 0;
					}
				}

				&.navbar-right {
					float: left;
					margin-left: 0;
					margin-right: 100px;

					@include respond('tab-port') {
						margin-right: 0;
					}

				}
			}
		}
	}

	.extra-icon-box {
		padding-left: 0;
		padding-right: 65px;

		i {
			left: auto;
			right: 0;
		}
	}

	.menu-btn {
		@include respond('wide-desktop') {
			margin-left: 0;
			margin-right: 20px;
		}

		span {
			left: auto;
			right: 10px;

		}

		&.open span:nth-child(2) {
			opacity: 0;
			left: auto;
			right: -60px;
		}
	}

	.contact-sidebar {
		left: auto;
		right: -300px;

		&.active {
			right: 0;
		}

		.icon-bx-wraper {
			.icon-md {
				margin-right: 0;
				margin-left: 15px;
			}
		}
	}

	.menu-close {
		left: auto;
		right: 0;
	}

	// site-header //header-2
	.site-header {
		&.style-2 {
			.top-bar {
				.dz-topbar-right {
					ul {
						li {
							padding-left: 20px;
							padding-right: 10px;

							&:after {
								right: auto;
								left: 0;
							}

							&:last-child {
								padding-left: 0;
							}
						}
					}
				}
			}

			.extra-cell {

				&>a,
				&>div {
					margin-left: 0;
					margin-right: 30px;

					@include respond('wide-desktop') {
						margin-left: 0;
						margin-right: 15px;
					}
				}
			}

			.header-nav {
				.nav {
					&>li {
						@include respond('tab-port-min') {
							&:after {
								right: auto;
								left: -3px;
							}
						}
					}
				}
			}

			.extra-nav-left {
				float: right;
				margin-right: 0;
				margin-left: 20px;
			}

			.is-fixed {
				.main-bar {
					box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
				}
			}
		}

		&.center {
			.logo-header {
				@include respond('tab-port') {
					right: auto;
					text-align: right;
				}
			}

			.header-nav .nav {
				float: right;

				&.navbar-left {
					text-align: left;
					margin-right: 0;
					margin-left: 150px;

					@include respond('wide-desktop') {
						margin-right: 0;
						margin-left: 120px;
					}

					@include respond('tab-port') {
						text-align: right;
						margin-left: 0;
					}
				}

				&.navbar-right {
					float: left;
					margin-left: 0;
					margin-right: 150px;

					@include respond('wide-desktop') {
						margin-left: 0;
						margin-right: 120px;
					}

					@include respond('tab-port') {
						margin-right: 0;
					}
				}
			}
		}
	}


}

@media only screen and (max-width: 991px) {
	.sub-menu-down .open>a>i {
		transform: rotate(-90deg) !important;
	}
}