[dir='rtl']{

	.content-body {
		margin-left  : 0;
		margin-right  : 65px;
		margin-right : 0;
		margin-left : 6px;
	}

	
	// Pointer
	#pointer-dot {
		left: auto;
		right: -4px;
	}
	#pointer-ring {
		left: auto;	
		right: 0;	
	}

}