.post-audio iframe {
	height: 370px;
	width: 100%; 
	@include respond("phone"){
		height: 300px;
	}
}
.tutorial{
	border: 1px solid #cccccc;
    padding: 30px;
	.tutorial-border{
		border-bottom: 1px solid #cccccc;
		
	}
	ul {
		margin: 0px;
		padding: 0px 20px !important;
		li {
			list-style: auto !important;
			padding: 5px 0px;
			font-size: 16px;
			color: var(--primary) !important;
			a {
				color: var(--primary);
				text-decoration: none;
				box-shadow: none;
			}
			&:before {
				display: none !important;
			}
		}
	}
}
.tutorial-data > div {
	scroll-margin-top: 100px;
}
.status-swiper ,
.galley-swiper-box {
	overflow: hidden;
}
.overlay-middle {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.8);
		opacity: 0.7;
	}
}
.blog-slideshow {
	overflow: hidden;
	position: relative;
	.swiper-pagination-two {
		bottom: 15px !important;
		left: 50% !important;
		position: absolute;
		z-index: 1;
		width: auto;
		transform: translateX(-50%);
		.swiper-pagination-bullet-active {
			background: var(--primary);
		}
	}
}
.post-header {
	position: relative;
	.dz-media {
		height: 600px;
		@include respond("phone"){
			height: 300px;
		}
		img {
			min-height: 250px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&.overlay-middle::before {
			display: none;
		}
	}
	.dz-info {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		padding: 100px 30px 30px 30px !important;
		width: 100%;
		background: transparent;
		@include respond("phone"){
			padding-top: 40px !important;
		}
		.dz-title {
			max-width: 800px;
			margin-right: auto;
			margin-left: auto;
		}
		.dz-meta {
			ul li {
				background: var(--primary);
				font-size: 14px;
				position: relative;
				font-weight: 300;
				color: #fff;
				padding: 5px 15px;
				border-radius: 15px;
				box-shadow: 0 5px 15px 0 var(--rgba-primary-3);
			}
		}
	}
}
.cateloge{
	border: 1px solid #cccccc;
    border-radius: 10px;
	padding: 10px 20px ; 
	display: flex;
	gap: 20rem;
	margin-bottom: 15px;
	margin-top: 25px;
	table{
		margin-bottom: 0px;
		tr {
			background-color: transparent !important;
			td{
				padding: 4px 0px; 
				color: #000;
				border: 0;
			}
		}
	}
}
.cateloge-btn {
	.btn {
		text-decoration: none;
	}
}
.no-sidebar {
	.dz-title {
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}
	.dz-meta ul {
		justify-content: center;
	}
}

.corner-media{
	position: sticky;
    top: 0;
	img{
		height: 100vh;
		object-fit: cover;
		width: 100%;
		@include respond('phone') {
			height: auto;
			max-height: 300px;
		}
	  }
}

.dz-post-text hr {
    height: 4px;
	border-top: 4px solid;
	margin: 40px 0;
}
.blog-single .side-img {
    width: 50%;
	margin-bottom: 10px;
}

// Status-Post
.post-status-btn {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    width: 100px;
    height: 100px;
	border: 0;
    background-color: rgba(0, 0, 0, 0.7);
	@include respond('phone') {
		width: 80px;
    	height: 80px;
	}
}
.modal{
	&.status-modal{
		background: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(10px);
		overflow-y: hidden;

		.modal-dialog-centered{
			@include respond("phone"){
				margin: 0;
			}
		}
		
		.btn-close{
			position: absolute;
			top: 0;
			right: 0;
			width: 44px;
			height: 44px;
			color: #fff;
			background-image: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21 1L1 21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 1L21 21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
			z-index: 9;

			@include respond("phone"){
				top: 20px;
				right: 20px;
			}
		}
		.status-pagination{
			position: absolute;
			top: 0;
			bottom: auto !important;
			left: 50% !important;
			height: auto;
			width: 100%;
			display: flex;
			justify-content: space-between;
			z-index: 9;
			transform: translate(-50%);
			padding: 10px 0;
			
			.swiper-pagination-bullet{
				height: 5px;
				background-color: rgba(255, 255, 255, 0.5);
				opacity: 1;
				width: 100%;
				border-radius: 10px;
				position: relative;
				overflow: hidden;
				margin: 0 4px;
	
				&::after{
					content: "";
					height: 100%;
					width: 0;
					background: #fff;
					position: absolute;
					top: 0;
					left: 0;
				}
				&.swiper-pagination-bullet-active::after{
					width: 100%;
					transition: 3.5s linear;
				}
			}
		}
		.modal-content{
			border-radius: 30px;

			.status-wrapper {
				.status-swiper{
					.swiper-slide{
						&::after{
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 30%;
							background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0.3%, rgba(0, 0, 0, 0.6) 100%);
						}
						.status-top-box{
							position: absolute;
							top: 0;
							left: 0;
							z-index: 9;
							color: #fff;
							width: 100%;
							display: flex;
							justify-content: space-between;
							padding: 30px 20px 0px 20px;
							.post-date{
								font-size: 16px;
								color: #fff;
								opacity: 0.5;
							}
							.title{
								font-size: 24px;
								color: #ffff;
								font-family: 'Roboto';
								font-weight: 800;
								margin-bottom: 0;
								@include respond("phone"){
									font-size: 17px;
								}
						
							}
							.status-btn{
								@include respond("phone"){
									display: flex;
									flex-direction: column;
									justify-content: end;
								}
								.btn.btn-sm{
									white-space: nowrap;
									padding: 6px 10px;
									border-radius: 5px;
						
									&:hover{
										background-color: #ebebeb;
										color: #000;
									}
								}
						
								.volume-icon{
									width: 44px;
									height: 44px;
									position: relative;
									background: rgba(255, 255, 255, 0.2);
									display: flex; 
									align-items: center;
									justify-content: center;
									border-radius: 50%;
									float: right;
								}
							}
						}
						height:unset;
			
						img{
							height: 100vh;
							width: 100%;
							object-fit: cover;
						}
			
						video {
							width: 100%;
							height: 100%;
							position: fixed;
							left: 0;
							top: 0;
							object-fit: cover;
							z-index: -1;
						}
					}
				}
			}
		}
	}

}
