// button
button:hover,
button:active,
button:focus {
    outline: 0;
}
.btn{
    padding: 18px 30px;
    display: inline-flex;
	border-radius: var(--border-radius-base);
    font-size: 15px;
    font-weight: 500;
	position: relative;
	line-height: 1.5;
	box-shadow: 0 5px 15px -10px var(--primary);
	align-items: center;
	overflow:hidden;
	// btn lg
	&.btn-lg{
		padding: 24px 40px;
		font-size: 16px;
	}
	// btn sm
	&.btn-sm{
		font-size: 15px;
		padding: 13px 24px;
	}
	// btn xs
	&.btn-xs{
		font-size: 14px;
		padding: 11px 25px;
	}
	@include respond ('phone-land'){
		padding: 14px 25px;
		font-size: 14px;
	}
	&.btn-primary{
		color:$white;
		&:hover{
			color:$white;
		}
	}
	i{
		font-size: 18px;
		line-height: 1;
		
	}
	&:after{
		content:"";
		background:#fff;
		@include transitionMedium;
		position: absolute;
		height: 120%;
		width: 15px;
		opacity: 0.2;
		left: -45%;
		top: -10%;
		transform: rotate(15deg);
		-moz-transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
		-o-transform: rotate(15deg);
	}
	&:hover:after{
		left: 130%;
	}
	
}

.btn-primary{
	border-color:var(--primary);	
	background-color:var(--primary);
	&.disabled,
	&:disabled,
	&:not(:disabled):not(.disabled).active, 
	&:not(:disabled):not(.disabled):active, 
	&:active,
	&:focus,
	&:hover{
		border-color:var(--primary-hover);	
		background-color:var(--primary-hover);	
	}
}
.btn-link{
	color:var(--primary);
	text-decoration: none;
	
	&:hover{
		color:var(--primary-hover);	
	}
}
.btn-outline-primary {
	color:var(--primary);	
	border-color:var(--primary);
	&.disabled,
	&:disabled,
	&:not(:disabled):not(.disabled).active, 
	&:not(:disabled):not(.disabled):active, 
	&:active,
	&:focus,
	&:hover{
		border-color:var(--primary-hover);	
		background-color:var(--primary-hover);	
		color:$white;
	}
}
.btn-link-lg{
	font-weight: 700;
	font-size: 18px;
	&:hover{
		text-decoration: unset;
	}
}
.btn-light{
	background-color: $white;
	&:hover{
		background-color: var(--primary);
		color: $white!important;
		border-color: transparent;
	}
	&.text-primary{
		&:hover{
			color: $white!important;
		}
	}
}
.wp-block-button{
	margin-bottom:0.3125rem;
}
.is-style-squared .wp-block-button__link{
	border-radius:0;
}
.wp-block-button__link{
	@extend .btn;
	@extend .btn-primary;
	border-radius:60px;
	
	&:after{
		content:none;
	}
}
.is-style-outline .wp-block-button__link{
	@extend .btn-outline-primary;
}
.new-page {
    display: inline-block;
    padding: 0px 8px;
    line-height: 18px;
    border-radius: 4px;
    font-weight: 500;
    height: 18px;
    min-height: 18px;
    font-size: .58rem;
	background-color: var(--primary);
	color: #fff;
}